*{
	margin:0;
	padding:0;
}
body {
	font: 11px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
	flex-direction: column;
/*	overflow: hidden;*/
}
label{
	margin-bottom: 2px !important;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: wheat;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: wheat;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: wheat;
	opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: wheat;
}
::-ms-input-placeholder { /* Microsoft Edge */
	color: wheat;
}
::placeholder { /* Most modern browsers support this now. */
	color: wheat;
}
@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
.height1row {height:60px !important;}
.height2row {height:120px !important;}
.height3row {height:180px !important;}
.height4row {height:240px !important;}
.height5row {height:300px !important;}
.height6row {height:360px !important;}
.height7row {height:420px !important;}
.height8row {height:480px !important;}
.height9row {height:540px !important;}
.height0row {height:600px !important;}
.scrollableY {overflow-y: scroll;}
.width1colmn{width:78% !important;}
.width2colmn{width:33% !important;}
.width2longcolmn{width:42% !important;}
.width3colmn{width:28% !important;}
.colorbrown{color: brown;}
.colordarkslategray{color: darkslategray;}
.width70px{width:70px !important;}
.width120px{width:120px !important;}
.window-popup, .message-view-popup, .message-popup{
	display: none;
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1000;
	padding: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.2);
}
.window, .message-view, .message{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  min-width: 280px;
  max-width: 500px;
  height: auto;
  background-color: rgba(228 , 228, 228, 0.98);
  border-radius: 10px;
  padding: 0;
  margin: 0;
  border-top: 1px solid white;
  -webkit-animation: fade 1s ease 1 forwards;
          animation: fade 1s ease 1 forwards;
  z-index: 999;
  border: gray solid 2px;
  border-radius: 10px;
  box-shadow: 0 0 20px darkblue;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}
.window-header, .message-view-header, .message-header {
  text-align: center;
  font-size: 1.1rem;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  width: 100%;
  height: 30px;
  border-bottom:2px solid lightgray;
}
.window-title, .message-view-title, .message-title {
  width: 465px;
  float: left;
  font-weight:bold;
  line-Height: 30px;

}
.window-title-icon, .message-view-title-icon, .message-title-icon {
	padding: 0px;
	margin: 0px;
	width: 30px;
	height: 30px;
	font-size:26px;
	float: right;
	color: white;
	/*fondo rojo*/
	background-color: rgba(217, 27, 27, 0.8);
	border-top-right-radius: 10px;
	cursor: pointer;
}
.window-content, .message-content, .message-view-content {
  text-align: center;
  font-size: 1rem;
}
.window-buttons, .message-view-buttons, .message-buttons {
	width: 500px;
	height: 30px;
}
.window-button, .message-view-button, .message-button {
	background: transparent;
	border: none;
	color: rgba(40, 140, 240, 1);
	height: 30px;
	font-size: 1rem;
	width: 50%;
	position: absolute;
	bottom: 0;
	cursor: pointer;
}
.window-button:first-child, .message-view-button:first-child, .message-button:first-child{
	border-top: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	left: 0;
	border-radius: 0 0 0 10px;
}
.window-button:last-child, .message-view-button:last-child, .message-button:last-child{
	border-top: 1px solid #B4B4B4;
	right: 0;
	border-radius: 0 0 10px 0;
}
.window-button:focus, .window-button:hover,
.message-view-button:focus, .message-view-button:hover, 
.message-button:focus, .message-button:hover {
	font-weight: bold;
	background: #EFEFEF;
}
.window-button:active, .message-view-button:active, .message-button:active {
	background: #D6D6D6;
}
.labelgroup {
    font-size: 18px;
    color: black;
    display: inline-block;
	padding: 0px 3px;
	font-weight: bold;
}
.infolabeltext {
	vertical-align: top;
	text-align: start;
    font-size: 14px;
    color: black;
    display: inline-block;
	padding: 0px 3px;
	font-weight: normal;
}
.infolabel {
	vertical-align: top;
	text-align: end;
    font-size: 14px;
    color: dimgrey;
    display: inline-block;
	padding: 0px 3px;
	font-weight: bold;
}
.inputlabel {
	vertical-align: top;
	text-align: start;
    font-size: 14px;
    color: gray;
    display: inline-block;
	padding: 0px 3px;
	font-weight: normal;
}
.inputtext {
    font-size: 14px;
    color: white;
    /*color plomo*/
    background-color: rgba(111, 122, 133, 0.8);
    display: inline-block;
	padding: 0px 3px;
	font-weight: normal;
	border-radius: 5px;
	vertical-align: top;
}
.inputtextarea {
    font-size: 14px;
    color: white;
    /*color plomo*/
    background-color: rgba(111, 122, 133, 0.8);
    display: inline-block;
	padding: 0px 3px;
	font-weight: normal;
	border-radius: 5px;
	vertical-align: top;
	resize: none;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1em;
    font-weight: 200;
    color: wheat;
    /*color plomo*/
    background-color: rgba(111, 122, 133, 0.8);
    display: inline-block;
	cursor: pointer;
	padding: 0px 3px;
	border-radius: 5px;
}
.inputfile:required:invalid {
	height: 0px !important;
	opacity: 0 !important;
	position: absolute !important;
	display: flex !important;
	z-index: 1000;
}
.inputfile:required:valid {
  margin-top: 15px !important;
}

/* The container */
.inputradio {
    font-size: 14px;
    color: wheat;
    background-color: rgba(111, 122, 133, 0.8);
    display: inline-block;
	padding: 0px 3px;
	font-weight: normal;
	border-radius: 5px;
}
.label-radio {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.inputcheckbox, .inputcheckbox2{
	cursor: pointer;
	position: relative;
/*	padding:5px 0 5px 60px;*/
	display: inline-block;
    margin: 0px !important;
    padding: 0px !important;
    border: 0px !important;
	height: 25px;
}
/* 
La propiedadd appearance da un aspecto standard a un elemento.
Por ejemplo: appearance: button
Como vamos a personalizar nuestros elemento añadimos el valor none
 */
.inputcheckbox input, .inputcheckbox2 input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.inputcheckbox i, .inputcheckbox2 i,
.inputcheckbox i:before, .inputcheckbox2 i:before{
	transition: all 0.25s ease;
}
/* 
Ocultamos nuestros inputs.
Con opacity 0. Si utilizamos visibility:hidden o display:none;
no funcionarían
*/
.inputcheckbox input, .inputcheckbox2 input{
	opacity: 0;
	position: absolute;
	right: 0;
}

/*
Propiedades para cualquier el elmento i después de un input
dentro de la capa .content-input
*/
.inputcheckbox input + i, .inputcheckbox2 input + i{
    background-color: rgba(111, 122, 133, 0.8);
	border:2px solid rgba(0,0,0,0.2);
	position: absolute;
	left: 0;
	top: 0;
}

/*
Propiedades para el checkbox
*/
.inputcheckbox .check-type-1 + i{
	width: 60px;
	height: 25px;
	border-radius: 10px;
	text-align: right;
	padding-right: 3px;
	color: wheat;
}
.inputcheckbox2 .check-type-2 + i{
	width: 120px;
	height: 25px;
	border-radius: 10px;
	text-align: right;
	padding-right: 5px;
	color: wheat;
}
/*
Creamos el círculo que aparece encima de los checkbox
con la etqieta before. Importante aunque no haya contenido
debemos poner definir este valor.
*/
.inputcheckbox .check-type-1 + i:before{
	content: ''; /* No hay contenido */
	width: 30px;
	height: 20px;
	background: #fff;
	border-radius: 20px;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
}
.inputcheckbox2 .check-type-2 + i:before{
	content: ''; /* No hay contenido */
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 20px;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
}
.inputcheckbox .check-type-1 + i:after, .inputcheckbox2 .check-type-2 + i:after{
	content: 'Si';
	position: absolute;
	font-size: 18px;
	color: rgba(255,255,255,1);
	top: -3px;
	left: 4px;
	opacity: 0;
	transition: all 0.25s ease 0.25s;
}
.inputcheckbox2 .check-type-2 + i:after{
	content: '' !important;
}
/*
Con :checked definimos los valores css cuando un input
como radio o checkbox está checado
*/
.inputcheckbox .check-type-1:checked + i, .inputcheckbox2 .check-type-2:checked + i{
	background: #009955;
	color: white;
}
.inputcheckbox .check-type-1:checked + i:before{
	left: 25px;
	-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
}
.inputcheckbox2 .check-type-2:checked + i:before{
	left: 0px;
	-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
	border: 2.5px solid white;
	background: #009955;
}
.inputcheckbox .check-type-1:checked + i:after, .inputcheckbox2 .check-type-2:checked + i:after{
	opacity: 1;
}



/*
	color: wheat;
*/
select:invalid {
  height: 0px !important;
  opacity: 0 !important;
  position: absolute !important;
  display: flex !important;
}
select:invalid[multiple] {
  margin-top: 15px !important;
}
.chosen-container{
	width:78%;
    display: inline-block;
	border-radius: 5px;
	vertical-align: top;
}
.chosen-single span, .chosen-single{
    color: white;
	font-weight: normal;
	padding: 0 !important;
    background-color: rgba(111, 122, 133, 0.8);/*color plomo*/
}
.group-result {
    cursor: pointer !important;
}
.chosen-drop .chosen-results {
    max-height: 100px !important;
}
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 16px;
  width: 16px;
  transition: all 0.15s ease-out 0s;
  background: white;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: gray;
}
.option-input:checked {
	background-color: rgba(40, 140, 240, 1);
}
.option-input:checked::before {
  height: 16px;
  width: 16px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 16px;
  font-weight: normal;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
	background-color: rgba(40, 140, 240, 1);
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

/*SELECT**/

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0px; /* demo only */
  font-size: 14px;
  vertical-align: top;
  
}
.custom-dropdown select {
	width: 100%;
    background-color: rgba(111, 122, 133, 0.8);
	color: wheat;
	font-size: inherit;
	border: 0;
	margin: 0;
	border-radius: 3px;
	text-indent: 0.01px;
	text-overflow: '';
}
.custom-dropdown select option{
	width: 20%;
}
.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}
.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}


.tabla-producto, .tabla-servicio{
	display: inline-table;
}
.tabla-font-center{
	text-align: center;
}
.tabla-td{
	position: relative;
    background-color: rgba(111, 122, 133, 0.6);
    margin:0px !important;
}
.tabla-input-number{
	position: relative;
	width: 100%;
	height: 100%;
    background-color: rgba(111, 122, 133, 0.6);
    color: white;
    margin:0px !important;
    padding:0px !important;
    border:0px !important;
    text-align: right;
    font-size: 20px;
    border-radius: 10px;
}
.odd{
    background-color: rgba(111, 122, 133, 0.2);
}
.fontcenter{
	text-align: center;
}
/*
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgba(44, 124, 222, 0.8);
}
*/



.menu, .menu ul, .menu li, .menu a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
.menu {	
	height: 25px;
	background:linear-gradient(to top, black, gray, black);
	border-radius: 5px;
	opacity: 0.8;
	box-shadow: 0px 6px 8px 0px black;
}
.menu li {
	position: relative;
	list-style: none;
	float: left;
	display: block;
	height: 100%;
	border-left: 1px solid lightgray;
}
.menu li:first-child{
	border-left: none;
	border-radius: 5px 0px 0px 5px;
}
.menu li:last-child{
	border-right: none;
	border-radius: 0px 5px 5px 0px;
}

/* Links */

.menu li a {
	display: block;
	padding: 0 10px;
	line-height: 25px;
	font-weight: bold;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #fff;
/*	color: #e4e4e4;*/
	text-shadow: 0px 0px 10px black;
	transition: color .2s ease-in-out;
	
}

.menu li:first-child a{
	border-left: none;
	border-radius: 5px 0px 0px 5px;
}
.menu li:last-child a{
	border-right: none;
	border-radius: 0px 5px 5px 0px;
}

.active, .menu li:hover > a, .menu li:hover {
	color: black !important;
	background:linear-gradient(to left, darkgray, white, darkgray);
}



/* Icons *
.menu a.documents { background: url(../img/admin/docs.png) no-repeat 6px center; }
.menu a.messages { background: url(../img/admin/bubble.png) no-repeat 6px center; }
.menu a.signout { background: url(../img/admin/arrow.png) no-repeat 6px center; }
*/

.new-record{
	border: 2px solid green;
	border-radius: 5px;
	padding:1px 2px;
	cursor: pointer;
	color: green;
	margin-left: 5px;
}
section{
	margin-top:10px;
}
.img-section{
	width: 50vw;
	background-color: lightgray;
	
}

.action-setting{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
    overflow-y: auto;
}
.action-setting .fa-trash-alt{
	color: rgba(217, 27, 27, 0.8);
	cursor: pointer;
	width: 20px;
}
.action-setting .fa-pencil-alt{
	/*color azul celeste*/
	color: rgba(40, 140, 240, 1);
	cursor: pointer;
	width: 20px;
}
.action-setting .fa-eye{
	/*color verde vista*/
	color: green;
	cursor: pointer;
	width: 20px;
}
